* {
    box-sizing: border-box;
}

body, html {
	background-color: #DACFBD;
	font-size: 100%;
	margin: 0px;
    height: 100%;
    font-family: Garamond, serif;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    font-size: 22px;
    padding: 10px 0 10px 0;
    margin: auto;
    max-width: 1440px;
    width: 60%;
}

p {
    font-size: 16px;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 5px 20% 5px 20%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar a, i {
    float: left;
	display: block;
	color: #DACFBD;
	text-align: center;
	padding: 12px 14px;
    text-decoration: none;
	font-size: 20px; 
    transition-timing-function: ease;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar > i { display: none;}

.navbar a.s2 {
    float: right;
    background-color: #691B28;
    border-radius: 10px;
    padding: 12px;
}

.navbar > i:hover {
    background-color: #691B28;
    border-radius: 10px;
}

.navbar a.s1:hover {
    background-color: #691B28;
    border-radius: 10px;
}

.navbar a.s2:hover {
    border-radius: 10px;
    background-color: royalblue;
}

@media screen and (max-width: 910px) {
    .navbar { padding: 5px 20px 5px 20px; }
    .navbar a { display: block; }
    .navbar > i {
        display: inline;
        float: right;
    }
    .navbar a:not(:first-child) {
        width: 100%;
    }
}

.headerImg {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/P10303861.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.textbox {
    position: absolute;
    bottom: 10%;
    left: 20%;
    color: #DACFBD;
}

.main {
    margin: auto;
    max-width: 1440px;
    width: 60%;
}

@media screen and (max-width: 910px) {
    .main {
        width: 100%;
        margin: 0 10px 0 10px;
    }
    .textbox { left: 20px; }
    h3 { margin-left: 20px; }
}

.textContainer {
    height: fit-content; 
    padding: 0 0 10px 0;
}

@media screen and (max-width: 910px) {
    .textContainer > p {
        margin: 0 20px 0 20px;
    }
}

@media screen and (min-width: 910px) {
    .textContainer > p {
        margin: auto;
        max-width: 1440px;
        width: 60%;
    }
}

.textContainer > p {  
    color: #DACFBD;
}

.ofertaContainer {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0 20px 0 20px;
}

.ofertaBox {  
    margin: 10px;
    max-width: fit-content;
    position: relative;
    background-color: #5D3222;
}

.ofertaBox > ul {
    margin: 10px 0 10px 0;
}

.ofertaBox > ul > li {
    color: #DACFBD;
    margin: 5px 0 5px 0;
    font-size: 16px;
}

.ofertaImgTitle {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 6px;
    background-color: rgba(39, 21, 17, 0.9);
    color: #DACFBD;
}
.expandedImage { 
    max-width: 350px;
}

.ofertaMiniImgs {
    display: flex;
    justify-content: center;
}

.ofertaImgs {
    max-width: 70px;
    margin: 5px;
    cursor: pointer;
}

.galeria {
    display: flex;
    max-height: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 910px) {
    .galeria > img { 
        max-width: 200px;
    }
}

.galeria > img {
    height: auto;
    max-width: 300px;
    object-fit: contain;
}

.galleryImg {
    cursor: pointer;
    transition: 0.2s;
}

.galleryImg:hover {opacity: 0.8;}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.modalBox {
    position: relative;
    max-width: 60%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

#modalImg {
    width: 100%;
}

.animate {
    animation-name: pass;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
}

@keyframes pass {
    from {opacity: .0;}
    to {opacity: 1;}
}

.close {
    position: absolute;
    top: 0;
    right: -53px;
    color: #DACFBD;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.close:hover,
.close:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 240, 0.5);
}

#prev, 
#next {
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #DACFBD;
    padding: 20px;
    border-radius: 10px;
}

#prev {left: -66px;}
#next {right: -66px;}

#prev:hover,
#next:hover {
    background-color: rgba(255, 255, 240, 0.5);
}

#caption {
    text-align: center;
    color: #DACFBD;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    font-size: 20px;
    padding: 10px;
}

#Kontakt {
    background-color: #271511;
}

.mapContainer {
    background-color: #271511;
    width: 100%; 
    height: 610px; 
    padding: 0 0 13px 0;
}

footer {
    background-color: #5D3222;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 16px;
    color: #DACFBD;
}