* {
    box-sizing: border-box;
}

body, html {
	background-color: #FFE9DC;
	font-size: 100%;
	margin: 0px;
    height: 100%;
    font-family: merriweather, serif;
    font-style: normal;
    font-weight: 300;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    margin: 0;
}

p {
    font-size: 20px;
    margin: 0;
}

.navbar {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 20px 20% 20px 20%;
    transition: 0.2s linear;
}

.navbar a {
    display: inline-block;
	color: #FFE9DC;
	text-align: center;
    text-decoration: none;
	font-size: 22px; 
    cursor: pointer;
}

.navbar a.le { margin: 0 30px 0 0; }

.navbar a.le:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFE9DC;
    transition: width 0.2s;
}

.navbar a.le:hover::after {
    width: 100%;
}

.navbar a.re {
    float: right;
    padding: 0 20px 0 20px;
    background: #00358080;   
    outline: 1px solid;
    outline-color: #FFE9DC;
    outline-offset: 0px;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar a.re:hover {
    background: #006ab7;
    border: 1 solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.headerImg {
    background-image: url("../images/P10303861.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.textbox {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%);
    color: #401D2A;
    text-align: center;
}

.main {
    margin: auto;
    max-width: 1440px;
    width: 70%;
}

@media screen and (max-width: 1200px) {
    .main {
        width: 80%;
    }
}

@media screen and (max-width: 910px) {
    .main {
        width: 100%;
        padding: 0 10px 0 10px;
    }
}

.bookmark {
    height: 41px;
    width: 20px;
    background-color: #A61B40;
}

.twocolrow {
    display: flex;
}

.twocolcol {
    flex: 50%;
}

@media screen and (max-width: 910px) {
    .twocolcol {
        width: 100%;
    }
}

.ofertaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ofertaContainer li {
    font-size: 18px;
    margin: 5px;
}

.ofertaContainer ul {
    list-style: square;
    list-style-position: inside;
}

.ofertaBox {  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    max-width: fit-content;
    position: relative;
    background-color: wheat;
}

.ofertaImgTitle {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #0b0d00a1;
    box-shadow: 0px 0px 15px 15px #0b0d00a1;
    color: #FFE9DC;
    font-size: 22px;
}

.expandedImage { 
    max-width: 350px;
}

.ofertaMiniImgs {
    display: flex;
    justify-content: center;
}

.ofertaImgs {
    max-width: 70px;
    margin: 10px;
    cursor: pointer;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.galleryImgContainer {
    height: 200px;
    width: 200px;

    border-radius: 25px;
}

.galleryImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryImg {
    cursor: pointer;
    transition: 0.2s;
}

.galleryImg:hover {opacity: 0.8;}

@media screen and (max-width: 910px) {
    .galleryImgContainer { 
        width: 200px;
        height: 200px;
    }
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.modalBox {
    position: relative;
    max-width: 60%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

#modalImg {
    width: 100%;
}

.animate {
    animation-name: pass;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
}

@keyframes pass {
    from {opacity: .0;}
    to {opacity: 1;}
}

.close {
    position: absolute;
    top: 0;
    right: -53px;
    color: #FFE9DC;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.close:hover,
.close:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 240, 0.5);
}

#prev, 
#next {
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #FFE9DC;
    padding: 20px;
    border-radius: 10px;
}

#prev {left: -66px;}
#next {right: -66px;}

#prev:hover,
#next:hover {
    background-color: rgba(255, 255, 240, 0.5);
}

#caption {
    text-align: center;
    color: #FFE9DC;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    font-size: 20px;
    padding: 10px;
}

#Kontakt  p, h3 { 
    color: #FFE9DC;
}

#Kontakt {
    background-color: #401D2A;
}

footer {
    background-color: #0B0D00;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 16px;
    color: #FFE9DC;
}