* {
    box-sizing: border-box;
}

body, html {
	background-color: #D9D6D0;
	font-size: 100%;
	margin: 0px;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    font-size: 24px;
    padding: 20px 0 20px 0;
    margin: auto;
    max-width: 1440px;
    width: 60%;
    text-align: center;
}

p {
    font-size: 20px;
}

.navbar {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 20px 20% 20px 20%;
    transition: 0.2s linear;
}

.navbar a {
    display: inline-block;
	color: #D9D6D0;
	text-align: center;
    text-decoration: none;
	font-size: 22px; 
    cursor: pointer;
}

.navbar a.le { margin: 0 30px 0 0; }

.navbar a.le:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.2s;
}

.navbar a.le:hover::after {
    width: 100%;
}

.navbar a.re {
    float: right;
    padding: 0 20px 0 20px;
    background: #00358080;   
    outline: 1px solid;
    outline-color: white;
    outline-offset: 0px;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar a.re:hover {
    background: #006ab7;
    border: 1 solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}


.headerImg {
    background-image: url("../images/P10303861.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.textbox {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%);
    color: indigo;
    text-align: center;
}

.main {
    margin: auto;
    max-width: 1440px;
    width: 60%;
}

@media screen and (max-width: 910px) {
    .main {
        width: 100%;
        margin: 0 10px 0 10px;
    }
    .textbox { left: 20px; }
}

.textContainer {
    height: fit-content; 
    padding: 10px 0 10px 0;
}

.textContainer p, h3 { 
 color: #260801;
}

#Kontakt  p, h3 { 
    color: #D9D6D0;
}

@media screen and (max-width: 910px) {
    .textContainer > p {
        margin: 0 20px 0 20px;
    }
}

@media screen and (min-width: 910px) {
    .textContainer > p {
        margin: auto;
        max-width: 1440px;
        width: 60%;
    }
}

.ofertaContainer {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:50px 20px 40px 20px;
}

.ofertaBox {  
    margin: 10px;
    padding: 10px;
    max-width: fit-content;
    position: relative;
    background-color: #D9D6D0;
    border: 2px solid black;
    border-radius: 4px;
}

.ofertaImgTitle {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 6px;
    background-color: #260801;
    color: #D9D6D0;
}
.expandedImage { 
    max-width: 350px;
}

.ofertaMiniImgs {
    display: flex;
    justify-content: center;
}

.ofertaImgs {
    max-width: 70px;
    margin: 5px;
    cursor: pointer;
}

.galeria {
    display: flex;
    max-height: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 910px) {
    .galeria > img { 
        max-width: 200px;
    }
}

.galeria > img {
    height: auto;
    max-width: 300px;
    object-fit: contain;
}

.galleryImg {
    cursor: pointer;
    transition: 0.2s;
}

.galleryImg:hover {opacity: 0.8;}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.modalBox {
    position: relative;
    max-width: 60%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

#modalImg {
    width: 100%;
}

.animate {
    animation-name: pass;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
}

@keyframes pass {
    from {opacity: .0;}
    to {opacity: 1;}
}

.close {
    position: absolute;
    top: 0;
    right: -53px;
    color: #D9D6D0;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.close:hover,
.close:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 240, 0.5);
}

#prev, 
#next {
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    color: #D9D6D0;
    padding: 20px;
    border-radius: 10px;
}

#prev {left: -66px;}
#next {right: -66px;}

#prev:hover,
#next:hover {
    background-color: rgba(255, 255, 240, 0.5);
}

#caption {
    text-align: center;
    color: #D9D6D0;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    font-size: 20px;
    padding: 10px;
}

#Kontakt {
    background-color: #260801;
}

.mapContainer {
    background-color: #260801;
    width: 100%; 
    height: 610px; 
    padding: 0 0 13px 0;
}

footer {
    background-color: #734E38;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 16px;
    color: #D9D6D0;
}